.index_box {
  background-size: cover;
  background: #1d1d1d;
}

.index_box .banner img {
  width: 100%;
}

.index_box .banner .banner_info {
  width: 750px;
  height: 300px;
  position: absolute;
  left: 50%;
  margin-left: -375px;
  top: 50%;
  margin-top: -150px;
  padding: 0 50px;
}

@media (max-width: 767px) {
  .index_box .banner .banner_info {
    width: 100%;
    left: 0;
    margin-left: 0;
    top: 50px;
    margin-top: 0px;
    padding: 0 20px;
    height: auto;
  }
}

.index_box .banner .banner_info .title {
  display: block;
  color: #eee;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .index_box .banner .banner_info .title {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
  }
}

.index_box .banner .banner_info .cnt {
  font-size: 20px;
  color: #eee;
  line-height: 40px;
}

@media (max-width: 767px) {
  .index_box .banner .banner_info .cnt {
    font-size: 13px;
    line-height: 20px;
  }
}

.index_box .banner .banner_info .cnt em {
  color: #00fcff;
}

.index_box div[class^="main_type"] {
  width: calc( 100% - 40px);
  overflow: hidden;
  margin: 0 auto;
  padding-bottom: 20px;
}

@media (max-width: 767px) {
  .index_box div[class^="main_type"] {
    width: calc( 100% - 10px);
  }
}

.index_box div[class^="main_type"] .list_head {
  height: 70px;
  width: 100%;
}

.index_box div[class^="main_type"] .add_box {
  text-align: center;
}

.index_box div[class^="main_type"] .add_box a img {
  max-width: 100%;
  padding-top: 20px;
}

.index_box div[class^="main_type"] .title {
  color: #eee;
  font-size: 28px;
  line-height: 30px;
  text-transform: uppercase;
}

.index_box div[class^="main_type"] .all_list {
  width: 300px;
  height: 50px;
}

.index_box div[class^="main_type"] .all_list a {
  display: block;
  width: 140px;
  height: 50px;
  border-radius: 25px;
  background: #171717;
  border: 1px solid #333;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  color: #eee;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
}

@media (max-width: 767px) {
  .index_box div[class^="main_type"] .list_head {
    height: 40px;
  }
  .index_box div[class^="main_type"] .list_head .fl.title {
    font-size: 16px;
  }
  .index_box div[class^="main_type"] .list_head .fr.all_list {
    width: 35vw;
    height: 30px;
  }
  .index_box div[class^="main_type"] .list_head .fr.all_list a {
    display: block;
    width: 50px;
    height: 30px;
    border-radius: 15px;
    background: #171717;
    border: 1px solid #333;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    color: #eee;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
  }
}

.index_box div[class^="main_type"] .cnt {
  text-align: center;
  background: #111;
  padding-top: 10px;
}

.index_box div[class^="main_type"] .cnt h2 {
  color: #eee;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .index_box div[class^="main_type"] .cnt h2 {
    font-size: 14px;
    line-height: 20px;
  }
}

.index_box div[class^="main_type"] .cnt span {
  font-size: 16px;
  color: #b8b8b8;
  line-height: 30px;
}

@media (max-width: 767px) {
  .index_box div[class^="main_type"] .cnt span {
    font-size: 12px;
    line-height: 20px;
  }
}

.index_box div[class^="main_type"] .swiper-slide {
  background: #111;
  text-align: center;
  border-radius: 0 0 5px 5px;
  position: relative;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  overflow: hidden;
  width: calc((100% - 150px)/6);
}

.index_box div[class^="main_type"] .swiper-slide img {
  width: 100%;
}

.index_box div[class^="main_type"] .swiper-slide:hover {
  top: -5px;
  -webkit-box-shadow: 0 0px 20px 2px rgba(0, 255, 255, 0.3);
  box-shadow: 0 0px 20px 2px rgba(0, 255, 255, 0.3);
}

.index_box div[class^="main_type"] .swiper-container {
  overflow: unset;
}

.index_box div[class^="main_type"] .swiper-button-prev {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #333;
  background-color: #171717;
  background-size: 20px 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  right: 70px;
  left: auto;
  top: -48px;
}

@media (max-width: 767px) {
  .index_box div[class^="main_type"] .swiper-button-prev {
    width: 30px;
    height: 30px;
    background-size: 16px 16px;
    right: 40px;
    top: -18px;
  }
}

.index_box div[class^="main_type"] .swiper-button-next {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #333;
  background-color: #171717;
  background-size: 20px 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  right: 10px;
  left: auto;
  top: -48px;
}

@media (max-width: 767px) {
  .index_box div[class^="main_type"] .swiper-button-next {
    width: 30px;
    height: 30px;
    background-size: 16px 16px;
    top: -18px;
  }
}
