.dialog-box {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 99999;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.dialog-box .dialog {
  display: none;
  width: 840px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  padding: 30px;
}

.dialog-box .dialog .dialog_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.dialog-box .dialog .dialog_head i {
  font-size: 24px;
  color: #bebebe;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  cursor: pointer;
}

.dialog-box .dialog .dialog_head .title {
  font-size: 24px;
  color: #eee;
  text-transform: uppercase;
  font-weight: bold;
  vertical-align: bottom;
}

.dialog-box .dialog .dialog_head .reset {
  font-size: 14px;
  color: #00fcff;
  cursor: pointer;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.dialog-box .dialog .cnt {
  text-align: left;
  color: #bebebe;
  padding-top: 30px;
}

.dialog-box .dialog .cnt h2 {
  font-size: 20px;
  line-height: 30px;
}

.dialog-box .dialog .cnt span {
  line-height: 30px;
  font-size: 14px;
  color: #676767;
  margin-bottom: 30px;
  display: block;
}

.dialog-box .dialog .cnt .box_list span {
  background: unset;
  border-radius: 18px;
  height: 36px;
  font-size: 12px;
  line-height: 36px;
  padding: 0 15px;
  border: 1px solid;
  border-color: #bebebe;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 65px;
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  cursor: pointer;
  transition: all .6s;
}

.dialog-box .dialog .cnt .box_list span:hover, .dialog-box .dialog .cnt .box_list span.cur {
  color: #00fcff;
  border-color: #00fcff;
}

.dialog-box .dialog .foot {
  text-align: center;
}

.dialog-box .dialog .foot button {
  display: inline-block;
  width: 250px;
  height: 55px;
  border-radius: 27.5px;
  border: 0;
  color: #333;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
  background-image: -webkit-gradient(linear, left top, right top, from(#00ffcc), to(#00fcff));
  background-image: linear-gradient(to right, #00ffcc, #00fcff);
}

.dialog-box .dialog .foot button:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#00fcff), to(#00ffcc));
  background-image: linear-gradient(to right, #00fcff, #00ffcc);
}

.dialog-box .dialog .foot a {
  color: #00fcff;
}

.search_cnt {
  padding: 20px;
}

@media (max-width: 767px) {
  .search_cnt {
    padding: 20px 10px;
  }
}

.search_cnt ul {
  font-size: 0;
}

.search_cnt ul li {
  width: calc((100% - 150px)/6);
  background: #111;
  text-align: center;
  border-radius: 0 0 5px 5px;
  position: relative;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 30px;
}

.search_cnt ul li:nth-child(6n) {
  margin-right: 0;
}

.search_cnt ul li:hover {
  top: -5px;
  -webkit-box-shadow: 0 0px 20px 2px rgba(0, 255, 255, 0.3);
  box-shadow: 0 0px 20px 2px rgba(0, 255, 255, 0.3);
}

@media (max-width: 767px) {
  .search_cnt ul li {
    width: calc((100% - 10px)/2);
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .search_cnt ul li:nth-child(2n) {
    margin-right: 0;
  }
}

.search_cnt ul li a {
  font-size: 0;
}

.search_cnt ul li a .cnt {
  padding-top: 1vw;
}

.search_cnt ul li a .cnt h2 {
  color: #eee;
  font-size: 16px;
  line-height: 20px;
}

.search_cnt ul li a .cnt span {
  font-size: 14px;
  color: #b8b8b8;
  line-height: 25px;
}

.pic_box .search_cnt {
  padding: 20px;
}

@media (max-width: 767px) {
  .pic_box .search_cnt {
    padding: 20px 10px;
  }
}

.pic_box .search_cnt ul {
  font-size: 0;
}

.pic_box .search_cnt ul li {
  width: calc((100% - 120px)/5);
  background: #111;
  text-align: center;
  border-radius: 0 0 5px 5px;
  position: relative;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 30px;
}

.pic_box .search_cnt ul li:nth-child(5n) {
  margin-right: 0;
}

.pic_box .search_cnt ul li:hover {
  top: -5px;
  -webkit-box-shadow: 0 0px 20px 2px rgba(0, 255, 255, 0.3);
  box-shadow: 0 0px 20px 2px rgba(0, 255, 255, 0.3);
}

@media (max-width: 767px) {
  .pic_box .search_cnt ul li {
    width: calc((100% - 10px)/2);
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .pic_box .search_cnt ul li:nth-child(2n) {
    margin-right: 0;
  }
}

.pic_box .search_cnt ul li a {
  font-size: 0;
}

.pic_box .search_cnt ul li a .cnt {
  padding-top: 1vw;
}

.pic_box .search_cnt ul li a .cnt h2 {
  color: #eee;
  font-size: 16px;
  line-height: 20px;
}

.pic_box .search_cnt ul li a .cnt span {
  font-size: 14px;
  color: #b8b8b8;
  line-height: 25px;
}

.dialog_pic {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
}

.dialog_pic .pic_box {
  width: 900px;
  height: 589px;
  position: absolute;
  left: 50%;
  margin-left: -450px;
  top: 50%;
  margin-top: -294.5px;
  position: relative;
}

@media (max-width: 767px) {
  .dialog_pic .pic_box {
    width: 94vw;
    height: 94vw;
    left: 50%;
    margin-left: -47vw;
    top: 50%;
    margin-top: -47vw;
  }
  .dialog_pic .pic_box:nth-child(2n) {
    margin-right: 0;
  }
}

.dialog_pic .pic_box .close {
  background: #00fcff;
  width: 30px;
  height: 30px;
  position: absolute;
  right: -15px;
  top: -15px;
  border-radius: 50%;
  color: #000;
  font-size: 30px;
  text-align: center;
  line-height: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  cursor: pointer;
}

.dialog_pic .pic_box .close:hover {
  background: #00ffcc;
}

.dialog_pic .pic_box .pic_img {
  border-radius: 8px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 10px solid #3e3e3e;
}

.dialog_pic .pic_box .pic_img img {
  width: 100%;
}
